* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Jost';
    src: url('fonts/Jost.ttf') format('truetype');
}

body {
    background-color: #37AEFF;
    /* background-image: url(/assets/bg.png), url(/assets/bg@2x.png); */
    /* background-size: cover, cover; */
    background-image: url(/assets/ellipse.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    overflow: hidden;
    font-family: Jost;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    padding: 72px 20px;
}

.question {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;

    display: none;
    
    top: -60px
}

.question.active {
    display: block;
}

.btn {
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    padding: 12px 24px;
    border: none;
    font-size: 21px;
    font-family: Jost;
}

.question__link {
    position: absolute;
    top: -26px;
    left: 10%;
    text-decoration: none;
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: 400;
    padding: 8px 22px 12px;
    font-family: Jost;
}

.question__link > img {
    margin-left: 12px;
}

.question__text {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #000;
    font-family: Jost;
}

.question__next {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    width: 240px;
    font-family: Jost;
}

.finish strong {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: Jost;
}

.finish p {
    font-size: 20px;
    font-family: Jost;
}

.link-bar {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}

.link-bar > a {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.link-bar > a > img{
    height: 48.6px;
}